<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>MusicTaster</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {#    <script src="//cdn.bootcss.com/sigma.js/1.2.0/sigma.min.js"></script>#}
    {#    <script src="//cdn.bootcss.com/sigma.js/1.2.0/plugins/sigma.parsers.json.min.js"></script>#}
    {#    <script src="//cdn.bootcss.com/sigma.js/1.2.0/plugins/sigma.layout.forceAtlas2.min.js"></script>#}
    {#    <script src="//cdn.bootcss.com/sigma.js/1.2.0/plugins/sigma.plugins.dragNodes.min.js"></script>#}
    {#    <link href="http://cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">#}
    {#    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
    {#    <script src="http://d3js.org/d3.v3.min.js"></script>#}

    <style>

        .links line {
            stroke: #999;
            stroke-opacity: 0.6;
        }

        .nodes circle {
            stroke: #fff;
            stroke-width: 1.5px;
        }

    </style>

</head>
<body>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-12">
            <h4 style="align-content: center;">
                MusicTaster
            </h4>

            <p>
                A demo based on Song2Vec and Artist2Vec
            </p>
            <p>
                详情见博客《<a
                    href="http://jayveehe.github.io/2017/03/18/song2vec/">MusicTaster——一种Song2Vec和Artist2Vec的实践</a>》
            </p>
            <p>
                欢迎Star@Github <a
                    href="https://github.com/JayveeHe/MusicTaster">https://github.com/JayveeHe/MusicTaster</a>
            </p>
            <hr/>
        </div>
    </div>
    {#    <div class="row">#}
    {#        <div class="col-md-3"></div>#}
    {#        <div class="col-md-2">#}
    {#            <span style="float:right;">摘要句数：</span>#}
    {#        </div>#}
    {#        <div class="col-md-1">#}
    {#            <input style="float: left;" type="number" id="sent_num" class="form-control has-success" value="5">#}
    {#        </div>#}
    {#        <div class="col-md-2">#}
    {#            <button class="btn btn-info" id="btn_send" style="svg_width: 80%;">确认</button>#}
    {#        </div>#}
    {#        <div class="col-md-4"></div>#}
    {#    </div>#}
    <div class="row" style="height: 100%;">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="height: 100%;">
            <div class="row" style="height: 60%;">
                <h6>
                    歌单聚类：
                </h6>
                <span>请输入网易云音乐的歌单地址</span>
                <hr/>
                <input style="max-width: 100% ;width:100%;height: 80%;" id="input_url"
                       class="form-control has-success" value="http://music.163.com/#/playlist?id=3659853">
                <button class="btn btn-info" id="btn_url_send" style="margin-top: 5%; width: 100%;">确认</button>
                <hr>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row" style="width: 100%;margin-top: 20px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <h6>
                    歌曲风格:
                </h6>
                <span>找出与给定歌曲(可多个)的风格近似的其他歌曲</span>
                <hr/>
            </div>
            <div class="row">
                <div class="tagsinput-primary">
                    <input name="tagsinput" class="tagsinput" id="input_name" data-role="tagsinput" value="贝加尔湖畔,虎口脱险"
                           style="display: none;">
                    结果数: <input type="number" id="input_sim_num" value=15 style="margin: 10px">
                </div>
                <button class="btn btn-info" id="btn_name_send" style=" width: 100%;">确认</button>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="modal fade" id="show_cluster" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 1000px;height:720px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="playlist_name_title">
                        歌单聚类结果
                    </h4>
                </div>
                <div class="modal-body" id="modal_text" style="width: 1000px;height:600px">
                    <svg class="modal-body" id="cluster_canvas" style="width: 100%;height: 100%">
                    </svg>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" id="modal_dismiss">关闭
                    </button>
                    <script>
                        /**$("#modal_dismiss").click(function () {
                            d3.select("svg").selectAll('*').remove();
                            console.log('kill with dismiss');
                        })**/
                    </script>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <div class="modal fade" id="show_similar" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 1000px;height:720px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="playlist_name_title">
                        歌曲相似性结果
                    </h4>
                </div>
                <div class="modal-body" id="song_similar_text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" id="modal_dismiss">关闭
                    </button>
                    <script>
                        /**$("#modal_dismiss").click(function () {
                            d3.select("svg").selectAll('*').remove();
                            console.log('kill with dismiss');
                        })**/
                    </script>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<script>

    // 歌单聚类
    $("#btn_url_send").click(function () {
        var pl_url = $("#input_url").val();
        var send_datas = {
            url: pl_url,
            type: "song",
            is_detailed: true
        };
        $.ajax('/musictaster/cluster/playlist/url', {
            'data': JSON.stringify(send_datas), //{action:'x',params:['a','b','c']}
            'type': 'POST',
            'processData': false,
            'contentType': 'application/json' //typically 'application/x-www-form-urlencoded', but the service you are calling may expect 'text/json'... check with the service to see what they expect as content-type in the HTTP header.
        }).done(function (data, status) {
                    $("#show_cluster").modal('toggle');
                    if (status == "success") {
                        // parse cluster result
                        //解析聚类结果
                        var resp_obj = eval(data);
                        if (resp_obj['code'] == 200) {
                            var title = $("#playlist_name_title");
                            console.log(resp_obj['playlist_name']);
                            title.text(resp_obj['playlist_name'] + "\t-\t" + '聚类结果');
                            /// -------- d3.js -------
                            //准备复杂网络数据
                            var g = {"nodes": [], "links": []};
                            var cluster_result = resp_obj["result"];
                            g.nodes.push({'id': 'root', 'group': -1, 'label': 'root'});
                            for (var i = 0; i < cluster_result.length; i++) {
                                console.log(cluster_result[i]);
                                var item = cluster_result[i][0];
                                /**var c_color = '#' + (Math.floor(Math.random() * 16777215).toString(16) + '000000').substr(0, 6);
                                 var c_x = (Math.random() - 0.5) * 50;
                                 var c_y = (Math.random() - 0.5) * 50;**/
                                g.nodes.push({
                                    "id": item,
                                    "group": i,
                                    'label': item
                                });
                                g.links.push({
                                    'source': 'root',
                                    'target': item,
                                    'value': 1
                                });
                                var c_root_id = item;
                                var last_item = c_root_id;
                                for (var j = 1; j < cluster_result[i].length; j++) {
                                    //console.log(i + "-" + j);
                                    var n_item = cluster_result[i][j];
                                    g.nodes.push({
                                        "id": n_item,
                                        "group": i,
                                        'label': n_item
                                    });
                                    g.links.push({
                                        'value': 1,
                                        'source': c_root_id,
                                        'target': n_item
                                    });
                                }
                            }

                            // d3 初始化
                            var svg = d3.select("svg");

                            svg.selectAll('*').remove();
                            var c_canvas = $('#cluster_canvas');
                            var svg_width = 1000 * 0.9;
                            var svg_height = 600 * 0.9;
                            //console.log(c_canvas.parentElement().width + '-' + c_canvas.parentElement().height);
                            console.log('svg_width:' + svg_width + '\theight:' + svg_height);

                            var color = d3.scaleOrdinal(d3.schemeCategory20);

                            var simulation = d3.forceSimulation()
                                    .force("link", d3.forceLink().id(function (d) {
                                        return d.id;
                                    }))
                                    .force("charge", d3.forceManyBody())
                                    .force("collide", d3.forceCollide().radius(function (d) {
                                        return d.r + 0.5;
                                    }).iterations(2))
                                    .force("center", d3.forceCenter(svg_width / 2, svg_height / 2));


                            var link = svg.append("g")
                                    .attr("class", "links")
                                    .selectAll("line")
                                    .data(g.links)
                                    .enter().append("line")
                                    .attr("stroke-width", function (d) {
                                        return Math.sqrt(d.value);
                                    });

                            var node = svg.append("g")
                                    .attr("class", "nodes")
                                    .selectAll("circle")
                                    .data(g.nodes)
                                    .enter()
                                    .append("circle")
                                    .attr("r", 5)
                                    .attr("fill", function (d) {
                                        return color(d.group);
                                    })
                                    .call(d3.drag()
                                            .on("start", dragstarted)
                                            .on("drag", dragged)
                                            .on("end", dragended));

                            var anchorNode = svg.append('g').attr('class', 'labels').selectAll("g.labels").data(g.nodes)
                                    .enter().append("svg:text").text(function (d) {
                                        return d.label;
                                    }).style("fill", "#555").style("font-family", "Arial").style("font-size", 6)
                                    .call(d3.drag()
                                            .on("start", dragstarted)
                                            .on("drag", dragged)
                                            .on("end", dragended));
                            //anchorNode.append("svg:circle").attr("r", 0).style("fill", "#FFF");


                            simulation
                                    .nodes(g.nodes)
                                    .on("tick", ticked);

                            simulation.force("link")
                                    .links(g.links);
                            var zoom = d3.zoom()
                                    .on("zoom", zoomed);

                            svg
                                    .on("wheel", wheeled)
                                    .call(zoom)
                                    .call(zoom.transform, d3.zoomIdentity
                                            .translate(svg_width / 2, svg_height / 2)
                                            .scale(0.5)
                                            .translate(-svg_width / 2, -svg_height / 2));
                            svg.call(zoom);

                            function wheeled() {
                                console.log(d3.event);
                            }

                            function zoomed() {
                                node.attr("transform", d3.event.transform);
                                link.attr("transform", d3.event.transform);
                                anchorNode.attr("transform", d3.event.transform);
                            }

                            function ticked() {
                                link
                                        .attr("x1", function (d) {
                                            return d.source.x;
                                        })
                                        .attr("y1", function (d) {
                                            return d.source.y;
                                        })
                                        .attr("x2", function (d) {
                                            return d.target.x;
                                        })
                                        .attr("y2", function (d) {
                                            return d.target.y;
                                        });

                                node
                                        .attr("cx", function (d) {
                                            return d.x;
                                        })
                                        .attr("cy", function (d) {
                                            return d.y;
                                        });
                                anchorNode
                                        .attr("x", function (d) {
                                            return d.x;
                                        })
                                        .attr("y", function (d) {
                                            return d.y;
                                        });
                            }

                            function dragstarted(d) {
                                if (!d3.event.active) simulation.alphaTarget(0.3).restart();
                                d.fx = d.x;
                                d.fy = d.y;
                            }

                            function dragged(d) {
                                d.fx = d3.event.x;
                                d.fy = d3.event.y;
                            }

                            function dragended(d) {
                                if (!d3.event.active) simulation.alphaTarget(0);
                                d.fx = null;
                                d.fy = null;
                            }


                        }
                        else {
                            alert("请求错误,详情=" + resp_obj.toString());
                        }
                    }
                    else {
                        alert("请求失败");
                    }
                }
        ).fail(function () {
            alert("请求失败");
        });
    });


</script>
<script>
    $('#btn_name_send').click(function () {
        var input_names_str = $('#input_name');
        console.log(input_names_str.val());
        var song_names = input_names_str.val().split(',');
        console.log(song_names);
        var input_num = $("#input_sim_num").val();
        console.log(input_num);
        var send_datas = {
            "positive_songs": song_names,
            "negative_songs": [],
            "positive_artists": [],
            "negative_artists": [],
            "top_n": input_num
        };
        $.ajax('/musictaster/similar/song', {
            'data': JSON.stringify(send_datas), //{action:'x',params:['a','b','c']}
            'type': 'POST',
            'processData': false,
            'contentType': 'application/json' //typically 'application/x-www-form-urlencoded', but the service you are calling may expect 'text/json'... check with the service to see what they expect as content-type in the HTTP header.
        }).done(function (data, status) {
                    if (status == "success") {
                        var resp_obj = eval(data);
                        if (resp_obj['code'] == 200) {
                            // parse cluster result
                            //解析聚类结果
                            $("#show_similar").modal('toggle');
                            var similar_result = $("#song_similar_text");
                            similar_result.empty();
                            similar_result.append("<tr><td>歌曲名</td><td>相似度</td></tr>");
                            for (var i = 0; i < resp_obj['result'].length; i++) {
                                console.log(resp_obj['result'][i]['name'] + '-' + resp_obj['result'][i]['similarity']);
                                similar_result.append('<tr><td>' + resp_obj['result'][i]['name'] + '</td><td>' + resp_obj['result'][i]['similarity'] + '</td></tr>');
                            }
                        }
                        else {
                            alert("请求错误,详情=" + resp_obj['error_msg']);
                        }
                    }
                    else {
                        alert("请求失败," + data.toString());
                    }
                }
        ).fail(function (data) {
            alert("请求失败, 原因=" + data);
        });
    })

</script>
</body>

</html>